USE [master]
GO
/****** Object:  Database [HUMAN_2025]    Script Date: 16/05/2026 9:45:16 AM ******/
CREATE DATABASE [HUMAN_2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HUMAN_2025', FILENAME = N'D:\SQL_Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HUMAN_2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HUMAN_2025_log', FILENAME = N'D:\SQL_Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HUMAN_2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HUMAN_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HUMAN_2025]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 16/05/2026 9:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 16/05/2026 9:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dividends]    Script Date: 16/05/2026 9:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dividends](
	[DividendID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[DividendAmount] [decimal](12, 2) NOT NULL,
	[DividendDate] [date] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DividendID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 16/05/2026 9:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[HireDate] [date] NOT NULL,
	[DepartmentID] [int] NULL,
	[PositionID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 16/05/2026 9:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [EmployeeID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (1, 1, N'admin@company.com', N'123456', N'Admin', CAST(N'2026-05-15T18:57:17.833' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [EmployeeID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (5, 11, N'nv1778850434@company.com', N'123456', N'Employee', CAST(N'2026-05-15T20:07:14.650' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [EmployeeID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (8, 14, N'nv1778853306@company.com', N'123456', N'Employee', CAST(N'2026-05-15T20:55:06.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [CreatedAt], [UpdatedAt]) VALUES (1, N'Phòng Nhân sự', CAST(N'2025-10-20T19:10:57.140' AS DateTime), CAST(N'2025-10-20T19:10:57.140' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [CreatedAt], [UpdatedAt]) VALUES (2, N'Phòng Kế toán', CAST(N'2025-10-20T19:10:57.140' AS DateTime), CAST(N'2025-10-20T19:10:57.140' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [CreatedAt], [UpdatedAt]) VALUES (3, N'Phòng Kỹ thuật', CAST(N'2025-10-20T19:10:57.140' AS DateTime), CAST(N'2025-10-20T19:10:57.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Dividends] ON 

INSERT [dbo].[Dividends] ([DividendID], [EmployeeID], [DividendAmount], [DividendDate], [CreatedAt]) VALUES (1, 1, CAST(500000.00 AS Decimal(12, 2)), CAST(N'2024-12-31' AS Date), CAST(N'2025-10-20T19:11:51.703' AS DateTime))
INSERT [dbo].[Dividends] ([DividendID], [EmployeeID], [DividendAmount], [DividendDate], [CreatedAt]) VALUES (2, 2, CAST(800000.00 AS Decimal(12, 2)), CAST(N'2024-12-31' AS Date), CAST(N'2025-10-20T19:11:51.703' AS DateTime))
INSERT [dbo].[Dividends] ([DividendID], [EmployeeID], [DividendAmount], [DividendDate], [CreatedAt]) VALUES (3, 3, CAST(300000.00 AS Decimal(12, 2)), CAST(N'2024-12-31' AS Date), CAST(N'2025-10-20T19:11:51.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[Dividends] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [HireDate], [DepartmentID], [PositionID], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nguyễn Văn An', CAST(N'1990-02-15' AS Date), N'Nam', N'0901234567', N'an.nguyen@company.vn', CAST(N'2020-01-10' AS Date), 1, 1, N'Đang làm việc', CAST(N'2025-10-20T19:11:42.303' AS DateTime), CAST(N'2025-10-20T19:11:42.303' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [HireDate], [DepartmentID], [PositionID], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Lê Thị Bình', CAST(N'1992-05-22' AS Date), N'Nữ', N'0912345678', N'binh.le@company.vn', CAST(N'2019-03-12' AS Date), 2, 3, N'Đang làm việc', CAST(N'2025-10-20T19:11:42.303' AS DateTime), CAST(N'2025-10-20T19:11:42.303' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [HireDate], [DepartmentID], [PositionID], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Trần Quốc Cường', CAST(N'1988-11-10' AS Date), N'Nam', N'0987654321', N'cuong.tran@company.vn', CAST(N'2021-05-05' AS Date), 3, 7, N'Đang làm việc', CAST(N'2025-10-20T19:11:42.303' AS DateTime), CAST(N'2025-10-20T19:11:42.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionName], [CreatedAt], [UpdatedAt]) VALUES (1, N'Giám đốc', CAST(N'2026-05-15T20:18:41.280' AS DateTime), CAST(N'2026-05-15T20:18:41.280' AS DateTime))
INSERT [dbo].[Positions] ([PositionID], [PositionName], [CreatedAt], [UpdatedAt]) VALUES (2, N'Trưởng phòng', CAST(N'2026-05-15T20:18:41.280' AS DateTime), CAST(N'2026-05-15T20:18:41.280' AS DateTime))
INSERT [dbo].[Positions] ([PositionID], [PositionName], [CreatedAt], [UpdatedAt]) VALUES (3, N'Trưởng nhóm', CAST(N'2026-05-15T20:18:41.280' AS DateTime), CAST(N'2026-05-15T20:18:41.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E4E2641194]    Script Date: 16/05/2026 9:45:16 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Accounts__7AD04FF02ADF906F]    Script Date: 16/05/2026 9:45:16 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D1053432061C1B]    Script Date: 16/05/2026 9:45:16 AM ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Dividends] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dividends]  WITH CHECK ADD  CONSTRAINT [FK_Dividends_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Dividends] CHECK CONSTRAINT [FK_Dividends_Employees]
GO
ALTER TABLE [dbo].[Employees]  WITH NOCHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH NOCHECK ADD  CONSTRAINT [FK_Employees_Positions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([Role]='Employee' OR [Role]='Manager' OR [Role]='Admin'))
GO
USE [master]
GO
