USE [master]
GO
/****** Object:  Database [HUMAN_BAITAP]    Script Date: 15/05/2026 10:41:28 PM ******/
CREATE DATABASE [HUMAN_BAITAP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSONHANVIEN', FILENAME = N'D:\SQL_Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HOSONHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOSONHANVIEN_log', FILENAME = N'D:\SQL_Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HOSONHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HUMAN_BAITAP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HUMAN_BAITAP]
GO
/****** Object:  Table [dbo].[HOSONHANVIEN]    Script Date: 15/05/2026 10:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSONHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[SODIENTHOAI] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NGAYVAOLAM] [date] NULL,
 CONSTRAINT [PK_HOSONHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOSONHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [EMAIL], [NGAYVAOLAM]) VALUES (11, N'Nguyễn Văn Huệ', CAST(N'1990-05-10' AS Date), N'Nam', N'Hà Nội', N'0123456789', N'a@gmail.com', CAST(N'2020-01-10' AS Date))
INSERT [dbo].[HOSONHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [EMAIL], [NGAYVAOLAM]) VALUES (12, N'Trần Thị B', CAST(N'1992-07-15' AS Date), N'Nữ', N'Hà Nội', N'0987654321', N'b@gmail.com', CAST(N'2019-06-15' AS Date))
INSERT [dbo].[HOSONHANVIEN] ([MANV], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [EMAIL], [NGAYVAOLAM]) VALUES (13, N'Phạm Văn C', CAST(N'1985-09-20' AS Date), N'Nam', N'Hà Nội', N'0369857412', N'c@gmail.com', CAST(N'2018-11-20' AS Date))
GO
USE [master]
GO
